@font-face {
  font-family: myFont;
  src: url(../font/ModernDOS9x16.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  //--------Remover o scrollbar fixo--------
  overflow-y: auto !important;
  //----------------------------------------
  body {
    width: 100vw;
    height: 100vh;
    //--------Alterar fonte do projeto--------
    #app{
      font-family: myFont;
    }
    //----------------------------------------
  }

}
