.animationContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
  .insta,
  .linkedin,
  .gitHub,
  .email,
  .whatsApp {
    transition: transform 0.2s linear;
  }
  .insta {
    width: 100px;
  }
  .linkedin {
    width: 75px;
  }
  .gitHub {
    width: 78px;
  }
  .email {
    width: 125px;
  }
  .whatsApp {
    width: 75px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      width: 140px;
      height: 140px;
      .insta,
      .linkedin,
      .gitHub,
      .email,
      .whatsApp {
        transform: scale(1.5);
      }
    }
  }
  @media screen and (max-device-width: 600px) {
    width: 65px;
    height: 65px;
    .insta {
      width: 75px;
    }
    .linkedin {
      width: 55px;
    }
    .gitHub {
      width: 58px;
    }
    .email {
      width: 90px;
    }
    .whatsApp {
      width: 55px;
    }
  }
}
