.animationsContainer {
  position: absolute;
  display: flex;
  animation: moveToRight 20s linear infinite;
}
@keyframes moveToRight {
  0% {
    left: -2700px;
  }
  100% {
    left: 100%;
  }
}
@media screen and (max-device-width: 600px) {
  @keyframes moveToRight {
    0% {
      left: -2370px;
    }
    100% {
      left: 100%;
    }
  }
  
}
