:root {
  --reactColor: #149eca;
  --vueColor: #41b883;
  --backgroundColor: #212121;
  --titleGradient: linear-gradient(
    to right,
    var(--reactColor) 45%,
    var(--vueColor) 55%
  );
}

@font-face {
  font-family: myFont;
  src: url(font/ModernDOS9x16.ttf);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
}

span {
  display: none;
}

button {
  color: white;
  background-color: transparent;
  border: none;
  max-width: 180px;
  min-width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

body,
button {
  font-family: myFont;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-title {
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
}

.lights {
  position: fixed;
  width: 50%;
  height: 100%;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  z-index: -1;
}

#vue-light {
  right: 0;
  bottom: 0;
  box-shadow: inset -20px -20px 30px -20px var(--vueColor);
}
#react-light {
  left: 0;
  bottom: 0;
  box-shadow: inset 20px -20px 30px -20px var(--reactColor);
}

#title {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background: var(--titleGradient);
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.container-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  align-content: end;
  justify-items: center;
}

.container-images {
  overflow: hidden;
  display: flex;
  align-items: end;
  position: relative;
  width: 530px;
  height: auto;
}

.container-blue-image {
  position: absolute;
  display: flex;
  align-items: end;
  overflow: hidden;
  width: 50%;
  height: 100%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.container-blue-image img {
  position: absolute;
  height: auto;
  width: 530px;
}

.my-image {
  height: auto;
  width: 100%;
}

.icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px), (max-device-width: 900px) {
  button {
    padding: 15px;
    margin: 26px 0 0 0;
    max-width: fit-content;
    min-width: fit-content;
    height: fit-content;
    display: flex;
    border: 3px solid;
    border-radius: 13px;
    align-items: center;
    font-size: 30px;
    transition: filter 0.3s;
  }
  button:active {
    filter: brightness(0.7);
  }
  button:active img {
    filter: brightness(0.7);
  }

  span {
    display: block;
    margin-left: 10px;
  }

  .lights {
    display: none;
  }

  #vue-button {
    order: 2;
    border-color: var(--vueColor);
  }

  #react-button {
    order: 3;
    border-color: var(--reactColor);
  }

  .logo {
    width: 42px;
    filter: brightness(1);
  }

  .container-title {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
  }

  #title {
    font-size: 7vw;
  }

  .container-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .container-images {
    order: 1;
    grid-area: item1;
  }

  .container-images,
  #blue-image {
    width: 53vw;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(
      to top,
      var(--backgroundColor) 5%,
      transparent 100%
    );
  }

  @media screen and (max-width: 750px), (max-device-width: 750px) {
    .container-images,
    #blue-image {
      width: 65vw;
    }
  }
  @media screen and (max-width: 500px), (max-device-width: 500px) {
    .container-images {
      width: 100%;
    }
    #blue-image {
      width: 100vw;
    }
  }
}
