@font-face {
  font-family: myFont;
  src: url(font/ModernDOS9x16.ttf);
}
html {
  font-family: myFont;
}
body {
  background-color: #212121;
  padding: 0;
  margin: 0;
}

:root {
  --react-color: #149eca;
  --vue-color: #41b883;
  --gradient: linear-gradient(to right, var(--react-color), var(--vue-color));
}

.title-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 125px;
}

#title {
  position: relative;
  font-size: 60px;
  text-transform: uppercase;
  color: transparent;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

#title:hover {
}
